@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
background-color: rgba(24,24,25,255);
color: white;
text-align: center;
font-family: 'Oswald','Courier New', Courier, monospace;
}